body {
    margin: 0;
    overflow: hidden;
}

div.moveRight {
	
	width: 100px;
    height: 100px;
    margin: 10px;
	background-color: red;
    position: relative;
	left:800px;
	top: 0px;
    animation-name: moveright;
    animation-duration: 2s;
    animation-fill-mode: forwards;  
	
}

@keyframes moveright {
    0%   {left:0px;  }
    100% {left:800px; }
}

@keyframes moveleft {
    0%   {left:2000px;  }
    100% {left:800px; }
}

div.moveRight2 {
	
	width: 100px;
    height: 100px;
	margin: 10px;
    background-color: rgb(30, 255, 0);
    position: relative;
	left:-800px;
	top: 100px;
    animation-name: moveleft;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;  
	
}

div.moveRight3 {
	
	width: 100px;
    height: 100px;
    margin: 10px;
	background-color: rgb(238, 0, 255);
    position: relative;
	left:-170px;
	top: 200px;
    animation-name: moveright;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
}

div.moveRight4 {
	
	width: 100px;
    height: 100px;
	margin: 10px;
    background-color: rgb(255, 174, 0);
    position: relative;
	left:-800px;
	top: 300px;
    animation-name: moveleft;
    animation-delay: 6s;
    animation-duration: 2s;
    animation-fill-mode: forwards;  
	
}

div.explose {
    width: 50px;
    height: 80px;
    background: url(imgs/expexplose.png) 0 0 / 1942px 252px;
    position: absolute;
    top: 40px;
    left: 50px;
    transform: translate(-50%, -50%);
    transition: left 4s, top 4s;
    animation: walkAnimation 1s steps(10) infinite; 
}

@keyframes walkAnimation {
    from { background-position: 0; }
    to { background-position: -500px; }
}

